In [2]:
import pandas as pd 
import sqlite3

conn = sqlite3.connect('../My_Datas/Data/online_shop.db')

In [5]:
#Views the transaction table
transactions = pd.read_sql("SELECT * FROM transactions", conn)
transactions.head()

  customer  item_id purchase_date
0      Ava     1011        4/1/23
1      Ava     1014        4/1/23
2      Ava     1015       4/15/23
3      Ava     1018        5/1/23
4      Ben     2345       4/15/23

In [9]:
#Views the items table
items = pd.read_sql("SELECT * FROM items", conn)
items.head()

   item_id item_description    price       category rating
0     1011            Paint  $15.99   Arts & Crafts    3.5
1     1012          Crayons   $2.87   Arts & Crafts    4.7
2     1013          Markers   $2.50   Arts & Crafts    4.8
3     1014            Brush   $1.99   Arts & Crafts    4.2
4     1015            Paper  $22.49   Arts & Crafts    4.5

In [11]:
#merge two tables together
df = transactions.merge(items, how="left", on='item_id')
df

,item_id,item_description_x,price_x,category_x,rating_x,item_description_y,price_y,category_y,rating_y
0,1011,Paint,$15.99,Arts & Crafts,3.5,Paint,$15.99,Arts & Crafts,3.5
1,1012,Crayons,$2.87,Arts & Crafts,4.7,Crayons,$2.87,Arts & Crafts,4.7
2,1013,Markers,$2.50,Arts & Crafts,4.8,Markers,$2.50,Arts & Crafts,4.8
3,1014,Brush,$1.99,Arts & Crafts,4.2,Brush,$1.99,Arts & Crafts,4.2
4,1015,Paper,$22.49,Arts & Crafts,4.5,Paper,$22.49,Arts & Crafts,4.5
5,1018,Scissors,$3.50,Arts & Crafts,4.6,Scissors,$3.50,Arts & Crafts,4.6
6,2300,Dog Leash,$14.20,Pet Supplies,3.2,Dog Leash,$14.20,Pet Supplies,3.2
7,2342,Dog Toy,$9.99,Pet Supplies,3.4,Dog Toy,$9.99,Pet Supplies,3.4
8,2345,Dog Food,$29.99,Pet Supplies,4.9,Dog Food,$29.99,Pet Supplies,4.9
9,2542,Cat Toy,$7.99,Pet Supplies,4.8,Cat Toy,$7.99,Pet Supplies,4.8
10,2545,Cat Food,$25.55,Pet Supplies,4.2,Cat Food,$25.55,Pet Supplies,4.2
11,3811,Socks,$7.50,Apparel,3.7,Socks,$7.50,Apparel,3.7
12,3814,Shirt,$9.99,Apparel,4.1,Shirt,$9.99,Apparel,4.1
13,3828,Shorts,$12.47,Apparel,4.3,Shorts,$12.47,Apparel,4.3
14,3833,Pants,$18.73,Apparel,2.4,Pants,$18.73,Apparel,2.4
15,3875,Dress,$24.48,Apparel,4.1,Dress,$24.48,Apparel,4.1
16,4509,Shampoo,$4.87,Personal Care,4.3,Shampoo,$4.87,Personal Care,4.3
17,4510,Conditioner,$4.88,Personal Care,4.5,Conditioner,$4.88,Personal Care,4.5
18,4791,Toothpaste,$2.79,Personal Care,4.9,Toothpaste,$2.79,Personal Care,4.9
19,4792,Floss,$4.92,Personal Care,3.6,Floss,$4.92,Personal Care,3.6
20,5671,Board Game,$32.99,Games & Toys,4.7,Board Game,$32.99,Games & Toys,4.7
21,5672,Card Game,$7.89,Games & Toys,4.8,Card Game,$7.89,Games & Toys,4.8
22,5673,Magic Game,$27.44,Games & Toys,3.9,Magic Game,$27.44,Games & Toys,3.9
23,5674,Video Game,$30.99,Games & Toys,4.1,Video Game,$30.99,Games & Toys,4.1
24,5893,Stickers,$2.57,Games & Toys,3.8,Stickers,$2.57,Games & Toys,3.8